*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body{
    /* background: #172026;   */
    color: #d8ffff;
    /* display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; */
    background: #172026;  
}

.header{
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #172026;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    
}

.logo{
    font-size: 25px;
    color: rgb(0, 255, 170);
    text-decoration: none;
    font-weight: 600;
    position: relative;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}




/* .logo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #aaffff;
    animation: toRight 1s ease forwards;
    animation-delay: .4s;
} */
/*navbar*/

 .navbar a{
    display: inline-block;
    font-size: 18px;
    color: #d8ffff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    transition: .3s;
    animation-delay: calc(.2s *var(--i));
} 

.navbar a.hov::after{
    content: '';
    
    background: rgb(0, 255, 170);
    position: absolute;
    
} 
.navbar a:hover{
    color: #25ffff;
} 

.navbar a:hover::after{
color: rgb(0, 255, 170);
    
}  


.home{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 10% 10% 0;
    /* background: url('32.png') no-repeat; */

    background-size: cover;
    background-position: center;
} 

.home-content{
    /* background: #51bfcb; */
    max-width: 600px;
}
.home-content h3{
   
    font-size: 32px;
    font-weight: 700;
    animation: slideBottom 1s ease forwards;
    opacity: 0;
    animation-delay: .7s;
}
.home-content h3 span{
    color: rgb(0, 255, 170);
}
.home-content h3:nth-last-of-type(2){
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}
.home-content h1{
    font-size: 50px;
    font-weight: 700;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    /* color: #4199a3; */
}
 
.home-content p{
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

/*
.home-text .bu-box{
    width: 345px;
    height:50px;
    display: flex;
    justify-content: space-between;
}

.home-text h1::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #aaffff;
    animation: toRight 1s ease forwards;
    animation-delay: 1s;
} */

/* .home-text p::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #aaffff;
    animation: toRight 1s ease forwards;
    animation-delay: 1.6s;
} */
/* .bu-box a{
    display: inline-flex;
    width: 100px;
    height: 80%;
    background: rgb(167, 255, 226);
    border: 1px solid rgb(167, 255, 226);
    border-radius: 8px;
    font-size: 14px;
    color: #172026;
    text-decoration: none;
    font-weight: 800;
    letter-spacing: 1px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

  .bu-box a:nth-child(1){
    background: transparent;
    color: rgb(110, 255, 207);
} 
.bu-box a:nth-child(1)::before{
    background: rgb(110, 255, 207);
} 
.bu-box a:nth-child(1):hover{
    color: #172026;

} 
.bu-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #172026;
    z-index: -1;
    transition: .5s;
}

.bu-box a:hover::before{
    width: 100%;
}
*/

.social-media a{
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid rgb(110, 255, 207);
    border-radius: 50%;
    font-size: 20px;
    color: rgb(110, 255, 207);
    text-decoration: none;
    transition: .5s ease;
    margin: 15px 15px 15px 0;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    z-index: 1;
}
/*image*/
.box{
    position: relative;
    width: 400px;
    height: 400px;
    background: rgba(0,0,0,0.5);
    border-radius: 50%;
    overflow: hidden;
}

.box::before{
    content: '';
    position: absolute;
    inset: -10px 140px;
    background: linear-gradient(315deg, #00ccff, rgb(0, 255, 170));
    transition: 0.5s;
    animation: animateimg 4s linear infinite;
}

.box:hover::before{
    inset: -20px 0px;
}

@keyframes animateimg{
    0%{
        transform: rotate(0deg);
    }
    0%{
        transform: rotate(360deg);
    }

}

.box::after{
    content: '';
    position: absolute;
    inset: 6px;
    background: #172026;
    border-radius: 50%;
    z-index: 1;
}

.content{
    position: absolute;
    inset: 30px;
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
}

.content img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transition: 0.5s;
    pointer-events: none;
}


/* .social-media a{
    display: inline-flex;
    position: relative;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 3px solid rgb(110, 255, 207);
    border-radius: 50%;
    font-size: 20px;
    color: rgb(110, 255, 207);
    text-decoration: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
} */


.social-media a:hover{
    color:#172026;
    background: rgb(110, 255, 207);
    box-shadow: 0 0 20px rgb(110, 255, 207);
}
.btn-box{
    display: inline-block;
    padding: 12px 28px;
    background: rgb(110, 255, 207);
    border-radius: 40px;
    font-size: 16px;
    color: #172026;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px rgb(0, 255, 170), 0 0 25px rgb(110, 255, 207);
}
.btn-box:hover{
    box-shadow: 0 0 5px rgb(110, 255, 207),
    0 0 25px rgb(110, 255, 207), 0 0 50px rgb(110, 255, 207),
    0 0 100px rgb(110, 255, 207), 0 0 150px rgb(110, 255, 207);
}
/*
.social-media a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgb(110, 255, 207);
    z-index: -1;
    transition: .5s;
}

.social-media a:hover::before{
    width: 100%;
}

.home-img{
    position: absolute;
    top: 0;
    right: 65px;
    width: 570px;
    height: 800px;
    background: transparent;
    transition: 3s;
    
}

.home-img:hover{
    background: #172026;
    opacity: .8;
}


KEYFRAMES ANIMATION*/
/* @keyframes toRight{
    100%{

        width: 0;
    }
} 
 
/*keyframes*/
@keyframes slideRight{
    0%{
        transform: translate(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideLeft{
    0%{
        transform: translate(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideBottom{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}




/*ABOUT PAGE*/

.about{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 1.5rem;
    padding: 90px;
}

.about-img img{
    padding-bottom: 20%;
    max-width: 630px;
    height: auto;
    width: 100%;
    border-radius: 50%;
    position: relative;
}

.about-text h2{
    font-size: 60px;
}

.about-text span{
    color: rgb(110, 255, 207);
}

.about-text h4{
    font-size: 29px;
    font-weight: 600;
    color: #d8ffff;
    line-height: 1.7;
    margin: 15px 0 30px;
}

.about-text p{
    color: rgb(191, 225, 255);
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}

/*SERVICES PAGE*/

.container{
    padding: 90px;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(259px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
#services{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}

.sub-title{
    text-align: center;
    font-size: 60px;
    padding-bottom: 50px;
    padding-top: 80px;
} 

.sub-title span{
    color: rgb(110, 255, 207);
}



.services-list div{
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px #305f7f, 1px 1px 40px #6fc6ff;
}
.services-list div i{
    font-size: 30px;
    margin-bottom: 30px;
}

.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a{
    text-decoration: none;
    color: black;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.read{
    display: inline-block;
    padding: 12px 28px;
    background: #6EFFCF;
    border-radius: 40px;
    font-size: 16px;
    color: #172026;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #6EFFCF, 0 0 25px #6EFFCF; 
}
.read:hover{
    box-shadow: 0 0 5px #6EFFCF,0 0 25px #6EFFCF, 0 0 50px #6EFFCF,
    0 0 100px #6EFFCF, 0 0 150px #6EFFCF;
}
.services-list div:hover{
    transform: translateY(-10px);
} 

/*SKILLS PAGE*/

/* section{
    display: flex;
    flex-wrap: wrap;
} */

.container1{
    width: 600px;
    height: 500px;
    padding: 75px 90px;
    margin-left: 120px;
}

.heading1{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
}

.bar{
    font-size: 23px;
}

.Technical-bars .bar{
    margin-top: 40px 0;
}

.Technical-bars .bar:first-child{
    margin-top: 0;
}
.Technical-bars .bar:last-child{
    margin-bottom: 0;
}
.Technical-bars .bar .info{
    margin-bottom: 5px;
}
.Technical-bars .bar .info span{
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.Technical-bars .bar .progress-line{
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: #000000;
    animation: progress 0.4s ease-in-out forwards;
    opacity: 0;
}
@keyframes progress {
    0%{
        width: 0;
        opacity: 0;
    }
    100%{
        opacity: 1; 
    }
}
.Technical-bars .bar .progress-line span{
    height: 100%;
    background-color: #00ccff;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1,0,0,5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

.progress-line.photoshop span{
    width: 90%;
}
.progress-line.illustrator span{
    width: 90%;
}
.progress-line.prem span{
    width: 90%;
}
.progress-line.aftereffect span{
    width: 90%;
}
.progress-line.react span{
    width: 75%;
}

.progress-line span::after{
    position: absolute;
    padding: 1px 8px;
    background-color: black;
    color: white;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}
.progress-line.photoshop span::after{
    content: "90%";
}
.progress-line.illustrator span::after{
    content: "60%";
}
.progress-line.prem span::after{
    content: "85%";
}
.progress-line.aftereffect span::after{
    content: "90%";
}
.progress-line.react span::after{
    content: "90%";
}
.progress-line span::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: black;
    top: -10px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0; 
}
@keyframes showText{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes animate{
   100%{
    transform: scaleX(1);
   }
} 


.container1 .skill-box{
    width: 100%;
    margin: 25px 0;
}
.skill-box .title{
    display: block;
    font-size: 14px;
    font-weight: 600;
    color:rgb(219, 255, 245);
}
.skill-box .skill-bar{
    width: 100%;
    background: #305f7f;
    height: 8px;
    margin-top: 6px;
    border-radius: 6px;
}

.skill-bar .skill-per{
    position: relative;
    display: block;
    height: 100%;
    width: 90%;
    border-radius: 6px;
    background: #6EFFCF;
    animation: progress 1s ease-in-out forwards;
    opacity: 0;
}

.skill-per.illustrator{
    width: 95%;
}
.skill-per.premiere{
    width: 95%;
}
.skill-per.aftereffect{
    width: 70%;
}

@keyframes progress{
    0%{
        width: 0;
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.skill-per .tooltip{
    position: absolute;
    right: -14px;
    top: -28px;
    font-weight: 500;
    color: #172026;
    padding: 2px 6px;
    font-size: 9px;
    border-radius: 3px;
    background: #6EFFCF;
    z-index: 1;
}

.tooltip::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    height: 10px;
    width: 10px;
    z-index: -1;
    background-color: #6EFFCF;
    transform: translateX(-50%) rotate(45deg);
}
.radial-bars{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start; 

    
}
.radial-bars .radial-bar{
    width: calc(50%-10px);
    height: 170px;
    margin-bottom: 10px;
    position: relative;
}
.radial-bars .radial-bar svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-90deg);
    width: 120px;
    height: 160px;
}

.radial-bars .radial-bar .progress-bar{
    stroke-width: 10;
    stop-color: black;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
}
@keyframes animate-bar {
    100%{
        stroke-dashoffset: -1;
    }
}
.path{
    stroke-width: 10;
    stroke:rgb(0, 255, 170);
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}

 .path-1{
    animation: animate-path1 1s 1s linear forwards;
}
.path-2{
    animation: animate-path2 1s 1s linear forwards;
}
.path-3{
    animation: animate-path3 1s 1s linear forwards;
}
.path-4{
    animation: animate-path4 1s 1s linear forwards;
}
@keyframes animate-path1 {
    100%{
        stroke-dashoffset: 50;;
    }
}
@keyframes animate-path2 {
    100%{
        stroke-dashoffset: 175;;
    }
}
@keyframes animate-path3 {
    100%{
        stroke-dashoffset: 125;;
    }
}
@keyframes animate-path4 {
    100%{
        stroke-dashoffset: 75;;
    }
}

.radial-bar .percentage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
} 

.radial-bar .text{
    width: 100%;
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50px);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
} 

/*PORTFOLIO PAGE*/
.main-text{
    padding: 90px;
}
.main-text h2{
    font-size: 60px;
    line-height: 1;
    text-align: center;
}
.main-text h2 span{
    color: #00ccff;
}
.portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(259px,1fr));
   
}
.row{
    /* position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer; */
    width: 200px;
    height: 200px;
    /* padding: 75px 90px;
    margin-left: 120px;  */
    
}
.row img{
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 600px;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.1),#00ccff);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
}
.layer h5{
    color: black;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
.layer p{
    color: black;
    font-size: 1rem;
    line-height: 1.8;
}
.layer i{
    color: red;
    margin-top: 20px;
    font-size: 20px;
    background: #d8ffff;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.row:hover img{
    transform: scale(1.1);
}
.row:hover .layer{
    height: 100%;
}






.contact{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin-top: 130px;
}
.contact-text h2{
    font-size: 90px;
    line-height: 1;
    text-align: center;
}

.contact-text h2 span{
    color: #00ccff;
}

.contact-text h4{
    margin: 15px 0;
    color: rgb(191, 225, 255);
    font-size: 20px;
    font-weight: 600;
}
.contact-text p{
    color: #d8ffff;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}
.contact-list{
    margin-bottom: 3rem;
}
.contact-list li{
    margin-bottom: 10px;
    display: block;
}
.contact-list i{
    display: inline-block;
    color: #25ffff;
    font-size: 20px;
    font-weight: 600;
    transition: all .40s ease;
}
.contact-list li a:hover{
    transform: scale(1.01) translateY(-5px);
    color: #00ccff;
}

.contact-form form{
    position: relative;
}
.contact-form form input,form textarea{
    border: none;
    outline: none;
    width: 90%;
    padding: 18px;
    background: #d8ffff;
    color: black;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}
.contact-form textarea{
    resize: none;
    height: 220px;
}
.contact-form form .send{
    display: inline-block;
    padding: 14px 60px;
    background: #6EFFCF;
    border-radius: 40px;
    font-size: 18px;
    color: #172026;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #6EFFCF, 0 0 25px #6EFFCF;
}
.contact-form form .send:hover{
    box-shadow: 0 0 5px #6EFFCF,0 0 25px #6EFFCF, 0 0 50px #6EFFCF,
    0 0 100px #6EFFCF, 0 0 150px #6EFFCF;
}

.last-text p{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #305f7f;
    font-weight: 300;
    margin-top: 70px;
}

.top{
    position: fixed;
    bottom: 2.1rem;
    right: 2,1rem;
}
.top i{
    color: black;
    background: #25ffff;
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
}





.wrapper{
    width: 900px;
    min-height: auto;
    margin: 20px auto;
}

.wrapper ul{
    list-style: none;
    padding: 0;
}

.wrapper ul::after{
    content: '';
    display: table;
    clear: both;
}

.wrapper ul li{
    width: calc(30% - 5px);
    margin: 30px 15px 0;
    height: 150px;
    background-size: cover;
    background-position: center center;
    float: left;
    box-shadow: 0 15px 10px 1px #00ccff;
}
.wrapper ul li:nth-child(1n+4){
    max-height: 0;
    opacity: 0;
    transition: 0.2s ease-in;
}

.wrapper .btn-area{
    display: block;
    background: #172026;
    color: #6EFFCF;
    cursor: pointer;
    text-align: center;
    font-weight: 900;
    width: 180px;
    line-height: 50px;
    margin: 50px auto 0;
    border-radius: 50px;
}

.wrapper .btn-area .btn2{
    display: none;
}
.wrapper #btnBox{
    display: none;
}
.wrapper #btnBox:checked~ul li:nth-child(1n+4){
    max-height: 1000px;
    opacity: 1;
    transition: 0.5s ease;
}

.wrapper #btnBox:checked~.btn2{
    display: block;
}
.wrapper #btnBox:checked~.btn1{
    display: none;
}


.row1{
    position: relative;
    padding: 90px;
    border-radius: 8px;
 
    max-width: 100%;
    
}


.cont{
    width: 90%;
    padding: 20px;
    margin: 100px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.bo{
    width: 250px;
    margin: 0 10px;
    box-shadow:  0 0 20px 2px #00ccff;
    transition: 1s;
}

.bo img{
    display: block;
    width: 100%;
    border-radius: 5px;
}

.bo:hover{
    transform: scale(1.3);
    z-index: 2;
}


/*PORTFOLIO PAGE*/
.projects{
    background-color: var(--container-color);
}
.projects__container{
    row-gap: 2rem;
    justify-content: center;
    padding-block: 1rem;
}
.projects__card{
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
}
.projects__img{
    width: 100%;
    height: 100%;
}

.projects__modal{
    position: absolute;
    left: 0;
    bottom: -100;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,hsla(0,0%,0%,0) 0%,
                hsla(var(--hue),70%,40%,.8) 120%);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: bottom .4s;

}
.projects__subtitle,
.projects__button{
    color: var(--title-color);
    font-size:var(--small-font-size);
}

.projects__subtitle{
    display: block;
    margin-bottom: .25rem;

}

.projects__title{
    font-size: var(--h2-font-size);
    margin-bottom: .75rem;

}

.projects__button{
    display: flex;
    align-items: center;
    column-gap: .5rem;
    font-weight: var(--font-medium);
}

.projects__button i{
    font-size: 1.25rem;
}

.projects__card:hover .projects__modal{
    bottom: 0;
}

.projects__container{
    grid-template-columns: repeat(3, 350px);
    row-gap: 3rem;
    padding-block: 2.5rem 4rem;
}